@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

header,  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

header h1{
    font-weight: 400;
}

header .header-item-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}


/* header .header-item-group i{
    
} */


header .header-item-group ul{
    display: flex;
    align-items: center;
    gap:20px;
}

header .header-item-group ul button{
    background-color: #02bff8;
    padding: 15px;
    border-radius: 5px;
}

header ul li, footer ul li{
    list-style: none;
}


main{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 50vw;
    padding-left: 15vw;
    gap:20px;
    
}

.background-img-container{
    background-image: url("../Assets/car-bg.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}


/* Main section */

main h2{
    font-size: 300%;
    color: #02bff8;
}

main p{
    font-size: 150%;
}

main button{
    background-color: #02bff8;
    /* padding: 10px; */
    width:fit-content;
    padding: 12px;
    border: none;
    font-size: 125%;
    border-radius: 5px;
}

/* footer */
footer{
    background-color: black;
    padding: 20px;
}

footer ul li:first-child{
    color:#02bff8;
}


@media only screen and (max-width: 480px) {
    header,  footer{
        flex-direction: column;
    }

    header .header-item-group ul{
        flex-wrap: wrap;
        justify-content: center;

    }

    header .header-item-group ul button{
        visibility: hidden;
    }

}

