/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Repeated color- Variables */
:root {
    --primary-color:#02bff8 ;
    --secondary-color: white;
    --fallback-background: #cccccc;
  }

/* Universal selector to nullify default values */
*{
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
    
}



/* Flex styling both for header and footer */
header,  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

/* Increase the size of Main heading/Logo */
header h1{
    font-weight: 400;
}

/* Flex configuration for Header Sub-Division */
header .header-item-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}


/* Flex configuration for Header Right - Sub-Division */
header .header-item-group ul{
    display: flex;
    align-items: center;
    gap:20px;
}

/* Header button styling */
header .header-item-group ul button{
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
}

/* Remove Bullet points of Header and Footer list */
header ul li, footer ul li{
    list-style: none;
}

/* Styling for Main section  */

main{
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 50vw;
    padding-left: 15vw;
    gap:20px;
    
}

/* Background image styling  */
.background-img-container{
    background-image: url("../Assets/car-bg.jpg");
    background-color: var(--fallback-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}


/* Main section Tag styling*/

main h2{
    font-size: 300%;
    color: var(--primary-color);
}

main p{
    font-size: 150%;
}

main button{
    background-color: var(--primary-color);
    /* padding: 10px; */
    width:fit-content;
    padding: 12px;
    border: none;
    font-size: 125%;
    border-radius: 5px;
}

/* Footer section tags styling */
footer{
    background-color: black;
    padding: 20px;
}

footer ul li:first-child{
    color:var(--primary-color);
}



/* Mobile screen - Responsiveness  */

@media only screen and (max-width: 480px) {
    /* To use Flex in Column direction for Phones */
    header,  footer{
        flex-direction: column;
    }

    header .header-item-group ul{
        flex-wrap: wrap;
        justify-content: center;

    }

    /* Hide Header button on Mobiles as similar button is present at center of the Mobile screen */
    header .header-item-group ul button{
        visibility: hidden;
    }

    /* Rearrange the placement of content of main section */
    main{
        padding-left:5vw;
        padding-right: 5vw;
        justify-content: flex-start;
        gap:6vh;
        height: 50vh;
        
    }

    main P{
        color:whitesmoke;
      
    }

    /* Rearrange the placement of content of Footer section */
    footer{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap:10px;
      
    }

}

